In [9]:
import pandas as pd

In [10]:
my_df = pd.read_csv('evolution_of_data_analysis.csv', header=0, sep="|")

In [11]:
my_df.head(2)

,Year,Decade,Milestone Title,Milestone Event,Why Important,Reference,People Process or Technology Tag
0,1945,1940s,ENIAC,First electronic general-purpose computer = ENIAC,Faster decisions using a computer and mathmatics,https://en.wikipedia.org/wiki/ENIAC,Technology
1,1945,1940s,John von Neumann / array,John von Neumann creates a merge sort algorith...,Arrays allow mathmatics| grouping and sorting ...,https://en.wikipedia.org/wiki/John_von_Neumann,People

In [12]:
my_df.groupby(['Decade']).agg({'Milestone Event':'count'})

        Milestone Event
Decade
1940s                 2
1950s                 2
1960s                 1
1970s                 2
1980s                 5
1990s                 9
2000s                14
2010s                 7

In [3]:
#my_df.groupby(['Decade']).agg({'Year':'count'})

        Year
Decade
1940s      2
1950s      2
1960s      1
1970s      2
1980s      5
1990s      9
2000s     14
2010s      7